html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #fff;
} 
body {
	height: 100%;
	display: block;
	overflow: hidden;
} 
section[role="region"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
} 
/*body #home-view  {
	width: 100%;
	transform: translateX(0%);
}
body #horario-view  {
	width: 100%;
	transform: translateX(-100%);
}
body #twitter-view  {
	width: 100%;
	transform: translateX(-200%);
}
/*body #info-view  {
	width: 100%;
	transform: translateX(-300%);
}*/
#home-view {
	left: 0%;
}
#horario-view {
	left: 100%;
}
#twitter-view {
	left: 200%;
}
#info-view {
	left: 300%;
}