@font-face {
	font-family: MozTT;
	src: url('MozTT.ttf');
} 
html, body {
	color: #383838;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: MozTT;	
	background-image: url('square_bg.png') !important;
} 
body {
	height: 100%;
	display: block;
	overflow: hidden;
} 
section[role="region"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
section[role="region"] > header:first-child img {
    padding-top: 7px;
    padding-left: 10px;
    float: left;
}

#home-view {
	width: 100%;
	left: 0%;
}
#horario-view {
	width: 100%;
	left: 100%;	
}
#twitter-view {
	width: 100%;
	left: 200%;	
}
#info-view {
	width: 100%;
	left: 300%;
}
#tabstart {
	text-align: center;
}
#tabstart, #info-tweet, #info-page {
	background-color: #FFFFFF;
}
#info-page{
	padding-left: 5px;
}
#info-page p, #info-page ul li{
	font-size: 1.6rem;
	padding-right: 1.2%;
}
#info-page ul li{
	padding: 0.2% 0;
	margin-left: -25px;
}
.imgLeft {
	float: left;
	height: 70px;
	width: 60px;
}
.titleTwitter {
	font-size: 1.4rem;
}
.usertwitter {
	font-size: 1.2rem;
	color: #9E9E9E;
}
.locateProgress {
	padding-top: 55%;
	padding-left: 46%;
}
.tabactivo {
	visibility: visible;
}
.estacionActiva {	
	background-image: linear-gradient(bottom, rgb(102,102,102) 0%, rgb(250,250,250) 100%);
	background-image: -o-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(250,250,250) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(250,250,250) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(250,250,250) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(250,250,250) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(102,102,102)),
		color-stop(1, rgb(250,250,250))
	);
}

#IdEstacion {
	width: 100% !important;
	padding-left: 1.5rem !important;
}

.nombreEstacion {
	padding-top: 2rem !important;
	padding-bottom: 0.8rem !important;
	font-size: 1.6rem !important;
}

#home-view {
	z-index: 11;
}

.subir {
	transform: translateY(0%);
	transition: all 0.2s;
	z-index: 12;
}

.bajar {
	transform: translateY(100%);
	transition: all 0.2s;
	z-index: 11;
}
#listaDeHorarios {
	overflow: scroll;
	height: 85%;
}
#contieneHoraSalida {
	padding: 15px;
	margin-bottom: 10px;
}
#horaSalida {
	font-size: 2.2rem;
	float: left;
	padding-left: 13%;
}
#horaRegreso {
	font-size: 2.2rem;
	float: right;
	color: black;
	padding-right: 13%;	
}
#map {
	width: 100%;
	height: 100%;
}